:root {
	--main-color: rgb(168, 21, 168);
	--main-background: linear-gradient(
		64.5deg,
		rgba(245, 116, 185, 1) 14.7%,
		rgba(89, 97, 223, 1) 88.7%
	);
}

.App {
	display: flex;
	min-height: 100vh;
	text-align: center;
	font-size: 16px;
	background-image: var(--main-background);
}

.App-header {
	margin: auto;
}

.App-header > input {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.5rem;
	padding: 1.5rem;
	border-radius: 3px;
	font-size: 2rem;
	font-family: monospace;
	text-align: center;
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}

/* .App-header > input:valid {
	border: 2px solid var(--main-color);
	color: var(--main-color);
}

input:invalid {
	border: 2px solid red;
	color: red;
} */

.App-header > input:focus-visible {
	outline: solid 2px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
