.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.voucher {
	height: 60vh;
}

.voucher_text {
	font-size: 3rem;
	color: white;
	animation: zoomOut 1300ms ease-in 300ms forwards;
	opacity: 0;
}

@keyframes zoomOut {
	0% {
		transform: translateY(160px) scale(2);
		opacity: 0;
	}
	100% {
		transform: translateY(0px) scale(1);
		opacity: 1;
	}
}
